{% extends "master-page.html"%}

{%block nav-bar%}
    {% include '../includes/nav-bar.html'%}
{%endblock%}

{%block left-menu%}
    {% include '../includes/left-menu.html'%}
{%endblock%}

{%block content %}
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <div class="layout-page" style="padding: 0px;">
        <div class="content-wrapper">
          <div class="container-xxl flex-grow-1 container-p-y" style="background-color: #ffffff; background-clip: content-box;display: flex;flex-direction: column ;padding-top:0px;"> 
            <img src="../../static/home/assets/img/images/style-t2-25-v2-3-1200x450.jpg" alt="">
            <div style="display: flex; justify-content: center; align-items: center;flex-wrap: wrap;gap:10px;margin-top:30px;">
                
              </div> 
          </div>
        </div>
      </div>
    </div>
  </div>    
{%endblock%}

{%block footer%}
    {% include '../includes/footer.html'%}
{%endblock%}